body {
  font-family: 'Liberation Sans', Trebuchet MS, helvetica, arial, sans-serif;
}

.Helvetica {
  font-family: 'Helvetica Light';
}

.chHelvetica {
  font-family: 'chHelveticaLight';
}

.Liberation {
  font-family: 'Liberation Sans';
}

.chLiberation {
  font-family: 'chLiberationSans';
}